body{
  background-color: red;
}
h1{
  color: yellow;
}
h3{
  color: yellow;
}

hr{
  border-style: solid;
  border-color: black;
  border-width: 5px;
}
p{
  color: white;
}
td{
  color: white;
}
li{
  color: white;
}
